$nav-height: 60px;
$footer-height: 50px;

body {
//	margin-top: $nav-height;
}

.hide {
	opacity: 0;
}
.show {
	opacity: 1;
}

// Responsive
@media all and (min-width: 420px) {
// Tablet & Up

// End Tablet & Up
}

@media all and (min-width: 800px) {
// Desktop & Up

// End Desktop & Up
}