---
layout: default
title: Home
slug: home
path: ../

meta-title: Home
meta-description: Home page.
---

{% include home-header.html layout="pumpkinpatch" %}

<div class="row">
    <div class="large-4 column">
      {% include featured-item.html title="Pumpkin Patch" link="" button-text="Visit The Patch" photo="photo-wide-pumpkinpatch.jpg" %}
    </div>
    <div class="large-4 column">
      {% include featured-item.html title="Maneau's Market" link="" button-text="Shop the Market" photo="photo-wide-pumpkinpatch.jpg" %}
    </div>
    <div class="large-4 column">
      {% include featured-item.html title="Alexander’s Adventure Maze" link="" button-text="Learn More" photo="photo-wide-pumpkinpatch.jpg" %}
    </div>
</div>


{% if 1==2 %}
{% include newsletter-signup.html %}


<div class="row box white-border">
  <div class="small-3 columns" style="background:#ff0;">one</div>
  <div class="small-9 columns" style="background:#ff0;">two<!-- ... --></div>
</div>





{% endif %}
