---
layout: default
title: Home
slug: home
path: ../

meta-title: Home
meta-description: Home page.
---

{% include home-header.html layout="pumpkinpatch" %}

<div class="row">
    <div class="large-4 column">
      {% include featured-item.html title="Halloween Pumpkin Patch" link="pumpkinpatch" button-text="Visit The Patch" photo="photo-pumpkinpatch-1.jpg" desc="Visit The Pumpkin Patch at Mother Nature’s Farm, rated Arizona’s best in the New Times. Opening day is October 1st. Come pick out that perfect pumpkin, and check out the fall activities." %}
    </div>
    <div class="large-4 column">
      {% include featured-item.html title="Maneau's Market" link="" button-text="Shop the Market" photo="photo-market-october.jpg" desc="Shop at Maneau’s Market for great fall decorations and the best pumpkin accessories. We also have a great selection of Gold Canyon Candles, and specialty treats." %}
    </div>
    <div class="large-4 column">
      {% include featured-item.html title="Alexander’s Adventure Maze" link="" button-text="Learn More" photo="photo-alexandersmaze.jpg" %}
    </div>
</div>

<div class="row">
    <div class="large-12 column">
      {% include newsletter-signup.html %}
    </div>
</div>