---
layout: default
title: Party Reservations
slug: partyreservations
path: ../

meta-title: Party Reservations
meta-description: Bring your class for a fun farm experience. Trips include a pumpkin, the straw bounce, a hayride, air bounce, feeding the farm animals and Alexander's Adventure Maze.
---

{% include page-header.html photo="photo-wide-animal-1.jpg" %}

<div class="row content-block green medium-collapse box white-border">
	<div class="large-8 medium-6 column">
		<div class="inner">
			<h2>Reservation Form</h2>
			<p>Please complete and submit the following form to schedule your upcoming birthday party. Please note that birthday party reservations require a minimum of 10 children.</p>
			{% include form.html type="party" %}
		</div>
	</div>
	<div class="large-4 medium-6 column sidebar sidebar-right">
		<div class="inner">
			<h3>Please Note</h3>
			<p>10 child minimum</p>
			<p><strong>Private Area</strong><br>
			additional $100</p>
			<p>Accept Cash, VISA, Mastercard & debit cards.</p>

			<br>
			<h3>Questions</h3>
			<p>Call<br>
			<a href="tel:1-480-892-5874" class="telephone">480-892-5874</a><br>
			OR<br>
			<a href="{{ site.baseurl }}/contactus" class="button expanded">Send A Message</a></p>
		</div>
	</div>
</div>