
<div class="row family-photos">
  <div class="column medium-3 small-6">
    <img src="{{ site.baseurl }}/img/family-wade_caroline.jpg" alt="Wade & Caroline Kelsall" />
    Wade & Caroline
  </div>
  <div class="column medium-3 small-6">
    <img src="{{ site.baseurl }}/img/family-brooke.jpg" alt="Brooke" />
    Brooke
  </div>
  <div class="column medium-3 small-6">
    <img src="{{ site.baseurl }}/img/family-alexander.jpg" alt="Alexander" />
    Alexander
  </div>
  <div class="column medium-3 small-6">
    <img src="{{ site.baseurl }}/img/family-maneau.jpg" alt="Maneau" />
    Maneau
  </div>
</div>