<div class="footer-scene">
	<div class="pumpkins"><img src="{{ base.url }}/img/scene-pumpkins.png" alt="Pumpkins at Mother Nature's Farm" /></div>
	<div class="clouds">&nbsp;</div>
	<div class="fence">&nbsp;</div>
	<div class="grass"><img src="{{ base.url }}/img/scene-grass.png" alt="Grass on the Farm" /></div>
	<div class="clouds medium">&nbsp;</div>
	<div class="clouds back">&nbsp;</div>
</div>
<div class="footer">

	<div class="grid-container footer-main-row">
		<div class="grid-x grid-padding-x">
			<div class="large-12 cell">
				<a href="{{ site.baseurl }}/" class="logo"><img src="{{ base.url }}/img/mothernaturesfarm-logo-white.png" alt="Mother Nature's Farm - Gilbert AZ" /></a>
			</div>
			<div class="large-6 cell footer-left">
				<strong>(480) 892-5874</strong>
				<span>Fax: (480) 507-0074<span>
			</div>
			<div class="large-6 cell footer-right">
				<a href="https://www.google.com/maps?f=q&source=embed&hl=en&geocode&q=1663+E.+Baseline+RD.,+Gilbert,+AZ+85233-1542&sll=37.0625,-95.677068&sspn=54.489258,113.818359&ie=UTF8&hq&hnear=1663+E+Baseline+Rd,+Gilbert,+Maricopa,+Arizona+85233&ll=33.376412,-111.795502&spn=0.034404,0.054932&z=14&iwloc=A" target="_blank">
				<strong>1663 E. Baseline Rd. Gilbert, AZ 85233</strong>
				<span>Located On Baseline Just East of Stapley</span>
				</a>
			</div>
		</div>
	</div>
	<div class="grid-container footer-bottom-line">
		<div class="grid-x grid-padding-x">

		    <div class="large-8 cell">
				<ul class="menu">
					<li><a href="{{ site.baseurl }}/">Home</a></li>
					<li><a href="#">Our Story</a></li>
					<li><a href="#">Calendar</a></li>
					<li><a href="#">Groups &amp; Parties</a></li>
					<li><a href="#">Contact</a></li>
					<li><a href="#">Directions</a></li>
				</ul>
		    </div>
		    <div class="large-4 cell">
				<div class="copyright"><a href="{{ site.baseurl }}/">&copy; {{ site.time | date: '%Y' }} Mother Nature's Farm</a></div>
		    </div>
		</div>

	</div>

</div><!-- .footer -->