<div class="grid-container">
  <div class="grid-x grid-padding-x">
    <div class="large-12 cell">
      
		<div class="title-bar" data-responsive-toggle="example-animated-menu" data-hide-for="medium">
		  <button class="menu-icon" type="button" data-toggle></button>
		  <div class="title-bar-title">Menu</div>
		</div>

		<div class="top-bar" id="example-animated-menu" data-animate="hinge-in-from-top spin-out">
		  <div class="top-bar-left">
		    <ul class="menu">
		      <li class="menu-logo"><a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/img/mothernaturesfarm-logo.png" alt="Mother Nature's Farm - Gilbert AZ" /></a></li>
		      <li><a href="{{ site.baseurl }}/our-story">Our Story</a></li>
		      <li><a href="{{ site.baseurl }}/calendar">Calendar</a></li>
		      <li><a href="{{ site.baseurl }}/parties">Groups &amp; Parties</a></li>
		      <li><a href="{{ site.baseurl }}/contact">Contact</a></li>
		      <li><a href="{{ site.baseurl }}/location">Directions</a></li>
		    </ul>
		  </div>
			<div class="top-bar-right">
				<div class="top-bar-hours">
					<strong>October Hours</strong>
					<em>9am to 9pm</em>
				</div>
			</div>
		</div>
	</div>
  </div>
</div>
