<div class="grid-container">
  <div class="grid-x grid-padding-x">
    <div class="large-12 cell">

<div class="newsletter-signup">
  <div class="box white-border image-bg" style="background-image: url({{ site.baseurl }}/img/photo-wide-truck.jpg);">
    <h3>Join the Farm Fam!</h3>
    <p>Sign up to receive coupons, news about the farm and other special events.</p>
    <form>
      <div class="one-line-form"><label for="fieldEmail">Email</label>
      <input id="fieldEmail" name="cm-xdhljl-xdhljl" placeholder="Enter Your Email..." type="email" required /><button class="button" type="submit">Sign Up</button></div>
    </form>
  </div>
</div>

    </div>
  </div>
</div>