{% if include.layout == 'morelinks' %}
      <h3>More Information about the Farm</h3>
      <ul class="sidebar-list">
        <li><a href="{{ site.baseurl }}/animals">The Animals</a></li>
        <li><a href="{{ site.baseurl }}/parties">Groups &amp; Parties</a></li>
        <li><a href="{{ site.baseurl }}/calendar">Calendar</a></li>
        <li><a href="{{ site.baseurl }}/location">Directions</a></li>
        <li><a href="{{ site.baseurl }}/coupons">Coupons</a></li>
        <li><a href="{{ site.baseurl }}/pumpkinpatch">Pumpkin Patch</a></li>
        <li><a href="{{ site.baseurl }}/christmas">Christmas</a></li>
      </ul>
{% endif %}